@import "tailwindcss";

/* Gunakan komentar ini untuk memberi tahu VS Code agar tidak cerewet */
/* css-unused-properties: disable */

:root {
  --color-blog-dark: #1e1e1e;
  --font-size-display-3xl: 4.5rem;
  --font-size-display-2xl: 3.75rem;
  --font-size-text-lg: 1.125rem;
}

body {
  background-color: white;
  color: #1e1e1e;
}
