@import "tailwindcss";

:root {
  --color-blog-dark: #1e1e1e;
  --font-size-display-3xl: 4.5rem;
  --font-size-display-2xl: 3.75rem;
  --font-size-text-lg: 1.125rem;
}

body {
  background-color: white;
  color: #1e1e1e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}
